<div class="details-view">
  <h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{ hero.id }}" style="display: flex">
        <span class="badge" style="order: 1">{{ hero.id }}</span>
        <span style="order: 2">{{ hero.name }}</span>
      </a>
      <button
        type="button"
        class="delete"
        title="delete hero"
        (click)="delete(hero)"
      >
        x
      </button>
    </li>
  </ul>
  <form #heroForm="ngForm" (ngSubmit)="add(); heroForm.reset()">
    <div class="add-hero-input">
      <label for="newHero">Hero name: </label>
      <input
        id="newHero"
        name="newHero"
        [(ngModel)]="newHeroName"
        #heroName="ngModel"
        placeholder="Enter new hero name"
        required
        [ngClass]="{
          'ng-invalid':
            heroName.invalid && (heroName.dirty || heroName.touched),
          'ng-valid': heroName.valid && (heroName.dirty || heroName.touched)
        }"
      />
      <div
        *ngIf="heroName.invalid && !heroName.pristine"
        class="alert alert-danger"
      >
        Hero name is required.
      </div>
      <!-- (click) passes input value to add() and then clears the input -->
      <button
        type="button"
        class="btn btn-info"
        type="submit"
        [disabled]="!heroForm.form.valid"
      >
        Add hero
      </button>
    </div>
  </form>
</div>
<!-- <div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div>id: {{ selectedHero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name" />
  </div>
</div> -->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
